@using InvestHarbor.Data.Enum

@{
    ViewBag.Title = "Investimentos";
    Layout = "_LayoutAdmin";
}

<div class="container" id="investimento">
    <form>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="filtro" class="login-sub-texto">Investimento</label>
                    <input type="text" class="form-control" id="filtro" placeholder="" v-model="Filtro">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="tipo-filtro" class="login-sub-texto">Tipo</label>
                    <select id="tipo-filtro" asp-items="Html.GetEnumSelectList<TipoInvestimento>()" class="form-control" v-model="TipoFiltro">
                        <option value="">Todos</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="login-sub-texto">&nbsp;</label>
                    <div class="clearfix"></div>
                    <button type="button" class="btn btn-info" v-on:click="Filtrar"><i class="fas fa-search"></i> Filtrar</button> &nbsp;
                    <button type="button" class="btn btn-primary" v-on:click="AbrirModalCadastro"><i class="fas fa-plus"></i> Adicionar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in Investimentos">
                        <td>{{item.Nome}}</td>
                        <td>{{item.Descricao}}</td>
                        <td>{{item.DescricaoTipo}}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm" v-on:click="Editar(item)"><i class="fas fa-pen"></i></button> &nbsp;
                            <button type="button" class="btn btn-danger btn-sm" v-on:click="Excluir(item.Id, index)"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" id="modal-cadastro" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar um investimento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="nome" class="login-sub-texto">Investimento</label>
                                    <input type="text" class="form-control" id="nome" placeholder="" v-model="Nome">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="tipo" class="login-sub-texto">Tipo</label>
                                    <select id="tipo" name="tipo" asp-items="Html.GetEnumSelectList<TipoInvestimento>()" class="form-control" v-model="Tipo"></select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="descricao" class="login-sub-texto">Descrição</label>
                                    <input type="text" class="form-control" id="descricao" placeholder="" v-model="Descricao">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="Adicionar"><i class="far fa-save"></i> Salvar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/js/vue/investimento/investimento.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/vue/investimento/investimento.min.js" asp-append-version="true"></script>
    </environment>
}